$color1 : #fa75df;
$color2 : #ffa6e4;
$color3: black;
$color4:#00c22d;
$color5:  white;
$color6: #ff216b;
$color7: #ff9838;
$font : 'Libre Baskerville', serif;
$font2: 'Roboto', sans-serif;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #cfcfcf;
